<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li class="active">Veranstaltung erstellen</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">

			<div class="span12">
	            <h1>Veranstaltung erstellen</h1>
	            <p class="lead">Hier k&ouml;nnen sie eine Veranstaltung erstellen</p>
	            <form>
				 	<div class="row-fluid">
						<fieldset class="span6">
							<legend>Veranstaltung-Daten</legend>
						    <label>Name*</label>
						    <input type="text" ng-model="_event.name" placeholder="Fach" required>
						    <span class="help-block">Bitte w&auml;len Sie eine Veranstaltungsname.</span>

                            <label>Zugehöriges Fach*<a style="margin-left: 20px;" ng-click="addEvent()"><i class="icon-plus"></i></a></label>
                            <div ng-repeat="modules in moduleList">
                                <select ng-model="idList[$index]">
                                    <option ng-repeat="module in modules">{{module.moduleID}} - {{module.name}}</option>
                                </select>
                                <a style="margin-left: 10px;" ng-click="removeEvent()"><i class="icon-minus"></i></a>
                            </div>
                            <br>
                            <span class="help-block">Bitte w&auml;hlen Sie das zugehörige Modul.</span>

						    <label>Semesterwochenstunden</label>
						    <input type="text" ng-model="_event.sws" placeholder="4" maxlength="4">
						    <span class="help-block">Bitte w&auml;len Sie eine Stundenanzahl.</span>

						    <label>Dozent</label>
						    <select ng-model="_event.lecturer_email" ng-options="lecturer.email as lecturer.firstName +' '+ lecturer.lastName for lecturer in lecturers"></select>
						    <span class="help-block">Bitte w&auml;len Sie den Dozenten.</span>

						    <label>Beschreibung</label>
						    <textarea rows="5" ng-model="_event.content" placeholder="Beschreibung der Veranstaltung"></textarea>
						    <span class="help-block">Bitte w&auml;len Sie eine Beschreibung der Veranstaltung.</span>

						</fieldset>
						<fieldset class="span6">
							<legend>Veranstaltung-Daten</legend>

						    <label>Typ</label>
						    <select ng-model="_event.type">
							  <option value="vorlesunf">Vorlesung</option>
							  <option value="uebung">&Uuml;bung</option>
							  <option value="tutorium">Tutorium</option>
							  <option value="praktikum">Praktikum</option>
							  <option value="versuch">Versuch</option>
							</select>
						    <span class="help-block">Bitte w&auml;len Sie den Typ.</span>

						    <label>Ort</label>
						    <input type="text" ng-model="_event.place" placeholder="N24">
						    <span class="help-block">Bitte w&auml;len Sie den Ort.</span>

						    <label>Raum</label>
						    <input type="text" ng-model="_event.room" placeholder="222">
						    <span class="help-block">Bitte w&auml;len Sie den Raum.</span>

						    <label>Zeiten</label>
						    <textarea rows="3" ng-model="_event.times"></textarea>
						    <span class="help-block">
						    	Bitte w&auml;len Sie die Zeiten der Veranstaltung.<br />
						    	<strong>Form:</strong> FR 08:00 - 10:00<br />
						    </span>

						    Archivieren: <input type="checkbox" ng-model="_event.archived" name="archived"><br /><br />
						    <span class="help-block">Event archivieren.</span>

						</fieldset>
				 	</div>
				 	<div class="row-fluid">

						<div class="span12">
							<hr />
							<input ng-click="createEvent()" type="submit" name="submit" class="btn btn-success" value="Veranstaltung erstellen" />
						</div>
				 	</div>
	             </form>
        	</div>

    </div>
</div>