<!--
ÜBERSICHT DER ATTRIBUTE

DIESE MÜSSEN ALS INPUT BESCHREIBTBAR SEIN

var User = {
		firstName: "String",
		lastName: "String",
		title: "String",
		email: "String",
		graduation: "String",
		matricNum: "Number",
		semester: "Number"
};


SONDERFALL PASSWORT!!!
-->
<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Benutzer</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<!--Body content-->
		<h1>Benutzer erstellen</h1>
		<p class="lead"> Hier k&ouml;nnen Sie einen Benutzer erstellen.</p>

			<form>
				<div class="row-fluid">
				  <fieldset class="span3">
				    <legend>Benutzer Daten</legend>

				    <label>Titel</label>
				    <input placeholder="Titel" type="text" ng-model="user.title" >
				    <span class="help-block">Bitte w&auml;len Sie einen Titel.</span>

				    <label>Name*</label>
				    <input placeholder="Vorname" type="text" ng-model="user.firstName" required>
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Nachname*</label>
				    <input placeholder="Nachname" type="text" ng-model="user.lastName" required>
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Email*</label>
				    <input placeholder="vor.nachname@uni-ulm.de" type="text" ng-model="user.email" required>
				    <span class="help-block">Bitte w&auml;len Sie eine Email.</span>


				    <label>Passwort*</label>
				    <input type="password" id="inputPassword" placeholder="Passwort" ng-model="user.password1" required>
				    <span class="help-block">Bitte w&auml;len Sie eine Passwort.</span>

				    <input type="password" id="inputPassword" placeholder="Passwort wiederholen" ng-model="user.password2" required>
				 	<span class="help-block">Bitte wiederholen Sie das Passwort.</span>

				    <label>Matrikelnummer</label>
				    <input placeholder="00000000" type="text" ng-model="user.matricNum">
				    <span class="help-block">Bitte geben Sie eine Matrikelnummer an.</span>

				    <label>Abschluss w&auml;hlen</label>
				    <select ng-model="user.graduation">
					  <option>Bachelor</option>
					  <option>Master</option>
					  <option>Diplom</option>
					  <option>Lehramt</option>
					</select>
					<span class="help-block">Bitte w&auml;len Sie einen Typ.</span>

					<label>Semester</label>
				    <input type="number" placeholder="1" ng-model="user.semester" min="1">
				    <span class="help-block">Bitte w&auml;len Sie ein Semester.</span>

					<label>Benutzer Rechte</label>
					<input type="checkbox" ng-model="user.canLogin" > Kann sich einloggen<br /><br />

					<input type="checkbox" ng-model="user.isEmployee" > Ist Mitarbeiter<br /><br />
					<span class="help-block">Ist der User ein Mitarbeiter.</span>

				  </fieldset>

				   <div ng-show="user.isEmployee">
						<fieldset class="span3">
							<legend>Adresse &amp; Sprechzeiten</legend>
						    <label>Addresse</label>
						    <textarea rows="3" ng-model="user.address" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte w&auml;len Sie einen Adresse. O26 - 344</span>

						    <label>Sprechzeit</label>
						    <textarea rows="5" ng-model="user.talkTime" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte w&auml;len Sie einen Sprechzeit. Mo: 10:00 - 12:00 Uhr</span>

 							<label>Telefonnummer</label>
						    <input type="text" placeholder="+49 (0)731/50-24444" ng-model="user.phoneNum" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte geben Sie eine Telefonnummer an.</span>

							
							<hr />
							<label>Rechte</label>
							<input type="checkbox" ng-model="user.employeeRights.canDeblockCriticalModule" > Kann kritische Module freigeben<br /><br />
							<input type="checkbox" ng-model="user.employeeRights.canDeblockModule" > Kann Module freigeben<br /><br />
							<hr />
							<label>Administrator</label>
							<input type="checkbox" ng-model="user.employeeRights.isAdmin" > Ist Administrator<br /><br />

						</fieldset>
						<fieldset ng-show="!user.employeeRights.isAdmin" class="span6">
							<legend>Studiengang Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Studiengang Name</th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="studycourseright in user.employeeRights.studycourseRightsList">
								    	<td>{{studycourseright.studycourseID}}</td>
								    	<td>{{getStudyCourse(studycourseright.studycourseID)}}</td>
								    	<td><input type="checkbox" ng-model="studycourseright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="studycourseright.canDelete"></td>
								    </tr>
								</tbody>
							</table>


						    <legend>Modulhandbuch Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Modulhandbuch Name</th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="modulhandbookright in user.employeeRights.moduleHandbookRightsList">
								    	<td>{{modulhandbookright.moduleHandbookID}}</td>
								    	<td>{{getModuleHandbook(modulhandbookright.moduleHandbookID)}}</td>
								    	<td><input type="checkbox" ng-model="modulhandbookright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="modulhandbookright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Fach Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Fach Name</th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="subjectright in user.employeeRights.subjectRightsList">
								    	<td>{{subjectright.subjectID}}</td>
								    	<td>{{getSubject(subjectright.subjectID)}}</td>
								    	<td><input type="checkbox" ng-model="subjectright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="subjectright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Module Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Fach Name</th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="moduleright in user.employeeRights.moduleRightsList">
								    	<td>{{moduleright.moduleID}}</td>
								    	<td>{{getModule(moduleright.moduleID)}}</td>
								    	<td><input type="checkbox" ng-model="moduleright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="moduleright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Event Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Event Name</th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="eventright in user.employeeRights.eventRightsList">
								    	<td>{{eventright.eventID}}</td>
								    	<td>{{getEvent(eventright.eventID)}}</td>
								    	<td><input type="checkbox" ng-model="eventright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="eventright.canDelete"></td>
								    </tr>
								</tbody>
							</table>
						</fieldset>

					</div>
				  <hr />
				</div>
				<input ng-click="createUser()" type="submit" name="submit" class="btn btn-success" value="Benutzer erstellen" />

			</form>

	</div>
  </div>
</div>