<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        	<h1>Druckversion</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
			<section id="print">
				<h1>Modulhandbuch: {{moduleHandbook.name}} <span class="label label-warning" ng-show="moduleHandbook.archived">Archiviert</span></h1>
				<strong>{{moduleHandbook.semester}}</strong>
				<h4>Beschreibung des Modulhandbuchs</h4>
				<p>{{moduleHandbook.content}}</p>

				<div ng-repeat="subject in subjects">
						<h2>Fach: {{subject.name}}</h2>
						<p>{{subject.content}}</p>
						<div ng-repeat="module in subject.modules">
							<h3>Modul: {{module.name}}</h3>
							<dl>
				                <dt>Dauer</dt>
				                <dd>dauer {{module.duration}}</dd>

				                <dt>englischer Titel</dt>
				                <dd>english {{module.englishTitle}}</dd>

				                <dt>LP</dt>
				                <dd>lp {{module.lp}}</dd>

				                <dt>SWS</dt>
				                <dd>sws {{module.SWS}}</dd>

				                <dt>Sprache</dt>
				                <dd>{{module.language}}</dd>
				            </dl>
				            <dl>
				                <dt>Modulverantwortlicher</dt>
				                <dd>{{module.director_email}}</dd>
				                <dt>requirement</dt>
				                <dd>{{module.requirement}}</dd>
				                <dt>learningTarget</dt>
				                <dd>{{module.learningTarget}}</dd>
				                <dt>content</dt>
				                <dd>{{module.content}}</dd>
				                <dt>literature</dt>
				                <dd>{{module.literature}}</dd>
				            </dl>
				            <div ng-repeat="_event in module.events">
				            	<h4>Veranstaltung: {{_event.name}}</h4>
				            	<dl>
					                <dt>EventID</dt>
					                <dd>{{_event.eventID}}</dd>
					                <dt>SWS</dt>
					                <dd>{{_event.sws}}</dd>
					            </dl>
					            <dl>
					                <dt>Lecturer E-Mail</dt>
					                <dd>{{_event.lecturer_email}}</dd>
					                <dt>Archiviert</dt>
					                <dd>{{_event.archived}}</dd>
					                <dt>Enabled</dt>
					                <dd>{{_event.enabled}}</dd>
					                <dt>Content</dt>
					                <dd>{{_event.content}}</dd>
					                <dt>Type</dt>
					                <dd>{{_event.type}}</dd>
					                <dt>Place</dt>
					                <dd>{{_event.place}}</dd>
					                <dt>Room</dt>
					                <dd>{{_event.room}}</dd>
					            </dl>
				            </div>
						</div>
					</div>
			</section>
        </div>
    </div>
</div>
<style type="text/css">
	#print div {
		margin: 5px 10px 10px 10px;
		padding: 10px;
		border-top: 1px solid #CCC;
		border-left: 3px double #CCC;
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
	}
</style>