

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li class="active">Startseite</li>
			</ul>

			<h1>Universität Ulm - Fakult&auml;t f&uuml;r Ingenierwissenschaften und Informatik</h1>
			<p>Herzlich Willkommen auf dem Onlineportal f&uuml;r Modulhandb&uuml;cher der Universität Ulm.</p>


		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3"></div>
		<div id="reg" class="span4">
			<h2>Stammdaten angeben</h2>
			<form class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">Uni Email*</label>
			    <div class="controls">
			      <input type="text" id="inputEmail" placeholder="Uni Email" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Vorname*</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Vorname" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Nachname*</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Nachname" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Passwort</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Passwort">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Passwort wiederholen*</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Passwort wiederholen" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button class="btn btn-medium" type="button">Registrieren</button>
			    </div>
			  </div>
			</form>

		</div>

	</div>
</div>