

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li class="active">Startseite</li>
			</ul>
			<h1>Impressum</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<p>
				<strong>Herausgeber</strong><br />
				Universität Ulm<br />
				89069 Ulm<br />
				Telefon +49 (0)731/50-10<br />
				Telefax +49 (0)731/50-22038<br />
				Umsatzsteueridentifikationsnummer DE173703203<br />
			</p>
			<p>
				<strong>Vertretung</strong>
				Die Universität Ulm ist eine Körperschaft des öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Karl Joachim Ebeling oder durch den Kanzler Dieter Kaufmann vertreten.
			</p>
		</div>
		<div class="span6">
			<p>
				<strong>Adresse des Präsidenten</strong><br />
				Universität Ulm<br />
				Präsident Prof. Dr. Karl Joachim Ebeling<br />
				Helmholtzstr. 16<br />
				89081 Ulm<br />
			</p>
			<p>
				<strong>Adresse des Kanzlers</strong><br />
				Universität Ulm<br />
				Kanzler Dieter Kaufmann<br />
				Helmholtzstr. 16<br />
				89081 Ulm<br /><br />
				<strong>Bankverbindung</strong><br />
				Kasse der Universität Ulm<br />
				Bundesbank Ulm<br />
				BLZ: 630 000 00<br />
				Konto Nr.: 6300 1505<br />
			</p>
			<p>
				Weitere Bankverbindungen (Zahlungen aus dem Ausland / Einzahlungen von Studienbeiträgen und -gebühren)
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
		<hr />
			<h2>Inhalt</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<p>
				Verantwortlich im Sinne des Presserechts für die allgemeinen WWW-Seiten der Universität Ulm:
			</p>
			<p>
				<strong>Martin Schulz</strong><br />
				Universität Ulm<br />
				Helmholtzstr.16<br />
				89081 Ulm<br />
				Telefon +49 (0)731/50-22008<br />
				Telefax +49 (0)731/50-22096<br />
			</p>
		</div>
		<div class="span6">
			<p>
				Die inhaltliche Verantwortung der WWW-Seiten einzelner Einrichtungen bzw. Bereiche der Universität liegt bei den jeweiligen informationseinstellenden Einrichtungen.
			</p>
			<p>
				Zuständige Aufsichtsbehörde<br />
				Ministerium für Wissenschaft, Forschung und Kunst Baden-Württemberg<br />
				Königstraße 46<br />
				70173 Stuttgart<br />
				<br />
				Copyright<br />
				&copy; Universität Ulm<br />

			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<p>
				Alle auf dieser Website veröffentlichten Inhalte (Layout, Texte, Bilder, Grafiken usw.) unterliegen dem Urheberrecht. Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger ausdrücklicher Zustimmung der Universität Ulm. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Fotokopien und Downloads von Web-Seiten für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch dürfen hergestellt werden.
			</p>
			<p>
				Die Universität Ulm erlaubt ausdrücklich und begrüßt das Zitieren der Dokumente und Webseiten sowie das Setzen von Links auf ihre Website.
			</p>
			<p>
				Die Universität Ulm ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
			</p>
			<p>
				Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
			</p>
			<p>
				Weibliche und männliche Schreibweise<br />
	Aus Gründen der besseren Lesbarkeit wurde in der Regel die männliche Schreibweise verwendet. Wir weisen an dieser Stelle ausdrücklich darauf hin, dass sowohl die männliche als auch die weibliche Schreibweise für die entsprechenden Beiträge gemeint ist.
			</p>
			<hr />
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h2>Haftungsausschluss</h2>
			<p>
				Haftungsausschluss bei eigenen Inhalten
	Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt recherchiert und implementiert. Fehler im Bearbeitungsvorgang sind dennoch nicht auszuschließen. Hinweise und Korrekturen senden Sie bitte an webmaster(at)uni-ulm.de.
			</p>
			<p>
				Eine Haftung für die Richtigkeit, Vollständigkeit und Aktualität dieser Webseiten kann trotz sorgfältiger Prüfung nicht übernommen werden. Die Universität Ulm übernimmt insbesondere keinerlei Haftung für eventuelle Schäden oder Konsequenzen, die durch die direkte oder indirekte Nutzung der angebotenen Inhalte entstehen.
			</p>
				<h3>Haftungsausschluss bei Links zu externen Inhalten</h3>
			<p>
				Die Universität Ulm ist als Inhaltsanbieter für die eigenen Inhalte, die sie zur Nutzung bereithält, nach den allgemeinen Gesetzen verantwortlich. Von diesen eigenen Inhalten sind Querverweise auf die von anderen Anbietern bereitgehaltenen Inhalte zu unterscheiden. Diese fremden Inhalte stammen weder von der Universität Ulm, noch hat die Universität Ulm die Möglichkeit, den Inhalt von Seiten Dritter zu beeinflussen.

			</p>
			<p>
				Die Inhalte fremder Seiten, auf die die Universität Ulm mittels Links hinweist, spiegeln nicht die Meinung der Universität Ulm wider, sondern dienen lediglich der Information und der Darstellung von Zusammenhängen.

			</p>
			<p>
				Diese Feststellungen gelten für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in Gästebüchern, Diskussionsforen und Mailinglisten, die von der Universität Ulm eingerichtet wurden. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde.
			</p>
			<p>
				Links zu externen Inhalten werden durch das Symbol  kenntlich gemacht.
			</p>
				<h3>Konzeption, Realisierung und Gestaltung</h3>
			<p>
				kiz | Abteilung Medien<br />
				Agentur zbb<br />
			</p>
		</div>
		<div class="span6">
			<h2>Datenschutzerklärung für die Uni Ulm</h2>
			<p>
				Bei jedem Zugriff auf eine Seite der Universität Ulm und bei jedem Abruf einer Datei werden zu statistischen Zwecken und zur Fehlersuche folgende Daten protokolliert und ausgewertet:
			</p>
			<ul>
				<li>Datum und Uhrzeit</li>
				<li>IP-Adresse des aufrufenden Programms</li>
				<li>Unsere Webserveradresse</li>
				<li>abgerufene Datei (Zugriffsadresse)</li>
				<li>HTTP Statuskode</li>
				<li>Umfang der übermittelten Daten (in Bytes)</li>
				<li>„Referer“ Adresse, falls vorhanden</li>
				<li>Browsertyp, falls vorhanden</li>
				<li>IP-Adressen werden jede Nacht anonymisiert; dabei bleiben lediglich die letzten beiden Domain-teile erhalten. Personenbezogene Nutzerprofile können durch die so gebildeten IP-Adressen nicht gebildet werden. Die anonymisierten IP-Adressen und alle anderen Daten werden einmal im Monat statistisch ausgewertet und nach 35 Tagen gelöscht.</li>
			</ul>
			<p>
				Die Informationsangebote der Universität Ulm setzen teilweise JavaScript-Funktionen für eine ansprechende Darstellung der Informationsseiten und verschiedene Navigationshilfen ein. Alle relevanten Informationen sind jedoch auch ohne JavaScript zugänglich.
			</p>
			<p>
				Die meisten Seiten der Universität Ulm können genutzt werden, ohne dass Cookies gesetzt werden. Nur bei einigen wenigen Seiten wird ein Session-Cookies gesetzt, das die Identität der Browser-Sitzung auf Ihrem Rechner festhält und nach Ende der Browser-Sitzung wieder von Ihrem Rechner gelöscht wird. Eine Auswertung findet nicht statt. Ein Bezug auf die Person des Nutzers ist ausgeschlossen.
			</p>
			<p>
				Soweit Sie über E-Mail mit der Universität Ulm kommunizieren, wird die Universität die dabei übermittelten personenbezogenen Daten ausschließlich zweckgebunden verwenden.
			</p>
			<p>
				Die Universität Ulm übernimmt keine Verantwortung für die Inhalte oder für die Privacy Policy der externen Ressourcen.
			</p>
		</div>
	</div>
</div>


















