<div class="container-fluid">
    <div class="row-fluid">
        <h2>Request</h2>
        <hr>
        <h4>url:</h4>
        <input type="text" data-ng-model="url">
        <h4>body:</h4>
        <textarea cols="30" rows="10" data-ng-model="body"></textarea>
    </div>
    <div class="row-fluid">
        <button class="btn" data-ng-click="get()">GET</button>
        <button class="btn" data-ng-click="post()">POST</button>
    </div>
    <div class="row-fluid">
        <h2>Response</h2>
        <hr>
        <h4>status:</h4>
        <input type="text" data-ng-model="status"/>
        <h4>body:</h4>
        <textarea cols="30" rows="10" data-ng-model="response"></textarea>
    </div>
    <div class="row-fluid">
        <hr>
        <a href="http://jsonformatter.curiousconcept.com/">JSON FORMATIERER</a>
    </div>
</div>