@charset "UTF-8";
/* FORSTTEAM SVEN HALM GmbH */
/* Code von Tim Daubenschuetz */
/* Kontakt: Tim.Daubenschuetz@gmail.com; */
/* Reset CSS File von Forstteam.eu */
/* via Sebastian Erhardt - Ex-Studios */
:link,:visited
{ text-decoration:none }

ul,ol
{ list-style:none }

h1,h2,h3,h4,h5,h6,pre,code,kbd,input,select,textarea,table
{ font-size: 1em; }

dl,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,div,p,blockquote,fieldset,legend,input,select,textarea
{ margin:0; padding:0; }

a, a img,:link img,:visited img,abbr,acronym,fieldset,iframe
{ border:0; outline: none;  }

address,abbr,cite
{ font-style:normal; }

caption
{ text-align:left; }

q:before,q:after
{ content:''; }


/* PNG FIX */

img, div, input { behavior: url("../fix/iepngfix.htc") }