body, html {
	height:100%;
	width:100%;
}

#formular {
	width:100%;
	height:200px;
}

#formular h1 {
	font-size: 20px;
}

#formular ul {
	list-style: none;
	height:30px;
}

#formular ul li {
	width: 150px;
	float:left;
}

th tr {
	font-weight: bold;
}

.margin-left {
	margin-left: 10px;
}