<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li class="active">Deadline bearbeiten</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
		<div class="span12">
            <h1>Deadline bearbeiten</h1>
            <p class="lead">Hier k&ouml;nnen Sie eine Deadline bearbeiten</p>
            <form>
				<legend>Deadline Daten</legend>
				<label>Jahr</label>
				<input type="text" ng-model="deadline.year" name="year" placeholder="2013" required>
				<label>Wintersemester / Sommersemester</label>
				<select ng-model="deadline.sose" required>
                	<option value="true">Sommersemester</option>
                	<option value="false">Wintersemester</option>
                </select>
				<label>Deadline</label>
				<input type="date" placeholder="2013" ng-model="deadline.deadline" >
				<hr />
			<input ng-click="create()" type="submit" name="submit" class="btn btn-success" value="Deadline erstellen" />
            </form>
		</div>
    </div>
</div>