<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li class="active">Veranstaltung erstellen</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">

			<div class="span12">
	            <h1>{{_event.name}} bearbeiten</h1>
	            <p class="lead">Hier k&ouml;nnen sie eine Veranstaltung bearbeiten</p>
	            <form>
				 	<div class="row-fluid">
						<fieldset class="span6">
							<legend>Veranstaltung-Daten</legend>
						    <label>Name*</label>
						    <input type="text" ng-model="_event.name"  required>
						    <span class="help-block">Bitte w&auml;len Sie eine Veranstaltungsname.</span>

						    <label>Zugehöriges Modul*</label>
                            <div ng-repeat="id in _event.moduleIDs">
                                <select ng-model="_event.moduleIDs[$index]" ng-options="module.moduleID as module.name for module in modules">
                                </select>
                            </div>
						    <span class="help-block">Bitte w&auml;len Sie den Dozenten.</span>

						    <label>Semesterwochenstunden</label>
						    <input type="text" ng-model="_event.sws"  maxlength="4">
						    <span class="help-block">Bitte w&auml;len Sie eine Stundenanzahl.</span>
						    <label>Dozent</label>
							<select ng-model="_event.lecturer_email" ng-options="lecturer.email as lecturer.firstName +' '+ lecturer.lastName for lecturer in lecturers"></select>
						    <span class="help-block">Bitte w&auml;len Sie den Dozenten.</span>

						    <label>Beschreibung</label>
						    <textarea rows="5" ng-model="_event.content"></textarea>
						    <span class="help-block">Bitte w&auml;len Sie eine Beschreibung der Veranstaltung.</span>

						</fieldset>
						<fieldset class="span6">
							<legend>Veranstaltung-Daten</legend>

						    <label>Typ</label>
						    <select ng-model="_event.type">
							  <option value="Vorlesung">Vorlesung</option>
							  <option value="Übung">&Uuml;bung</option>
							  <option value="Tutorium">Tutorium</option>
							  <option value="Praktikum">Praktikum</option>
							  <option value="Versuch">Versuch</option>
							</select>
						    <span class="help-block">Bitte w&auml;len Sie den Typ.</span>

						    <label>Ort</label>
						    <input type="text" ng-model="_event.place">
						    <span class="help-block">Bitte w&auml;len Sie den Ort.</span>

						    <label>Raum</label>
						    <input type="text" ng-model="_event.room">
						    <span class="help-block">Bitte w&auml;len Sie den Raum.</span>

						    <label>Zeiten</label>
						    <textarea rows="3" ng-model="_event.times"></textarea>
						    <span class="help-block">
						    	Bitte w&auml;len Sie die Zeiten der Veranstaltung.<br />
						    	<strong>Form:</strong> FR 08:00 - 10:00<br />
						    </span>

						    <span ng-show="canDeblockContent">
						    	Freigeben:  <input type="checkbox" ng-model="_event.enabled" name="enabled"><br /><br />
						    	<span class="help-block">Event freigeben.</span>
							</span>

						    Archivieren: <input type="checkbox" ng-model="_event.archived" name="archived"><br /><br />
						    <span class="help-block">Event archivieren.</span>


						</fieldset>
				 	</div>
				 	<div class="row-fluid">

						<div class="span12">
							<hr />
							<input ng-click="update()" type="submit" name="submit" class="btn btn-success" value="{{_event.name}} bearbeiten" />
						</div>
				 	</div>
	             </form>
        	</div>

    </div>
</div>