<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li class="active">Fach bearbeiten</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">

			<div class="span12">
	            <h1>{{subject.name}} bearbeiten</h1>
	            <p class="lead">Hier k&ouml;nnen Sie das Fach bearbeiten</p>
	            <form>
				 	<div class="row-fluid">
						<fieldset class="span4">
							<legend>Fach-Daten</legend>
						    <label>Name*</label>
						    <input type="text" ng-model="subject.name" placeholder="Fach" required>
						    <span class="help-block">Bitte w&auml;hlen Sie einen Fachnamen.</span>

                            <label>Zugehöriges Modulhandbuch*</label>
                            <select ng-model="subject.moduleHandbooks_moduleHandbookID" ng-options="modulehandbook.moduleHandbookID as modulehandbook.name for modulehandbook in moduleHandbooks"></select>
                            <br>
                            <span class="help-block">Bitte w&auml;hlen Sie das zugehörige Modulhandbuch.</span>

						    <label>Beschreibung</label>
						    <textarea rows="5" ng-model="subject.content" placeholder="Beschreibung des Fachs"></textarea>
						    <span class="help-block">Bitte w&auml;hlen Sie eine Beschreibung des Fachs.</span>

                            Archivieren: <input type="checkbox" ng-model="subject.archived" name="archived"><br /><br />
                            <span class="help-block">Fach archivieren.</span>

						</fieldset>
				 	</div>
				 	<div class="row-fluid">

						<div class="span12">
							<hr />
							<button class="btn btn-primary" type="submit" ng-click="update()">{{subject.name}} bearbeiten</button>
						</div>
				 	</div>
	             </form>
        	</div>

    </div>
</div>