<!--
ÜBERSICHT DER ATTRIBUTE

DIESE MÜSSEN ALS INPUT BESCHREIBTBAR SEIN

var User = {
		firstName: "String",
		lastName: "String",
		title: "String",
		email: "String",
		graduation: "String",
		matricNum: "Number",
		semester: "Number"
};


SONDERFALL PASSWORT!!!
-->
<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Benutzer bearbeiten</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<!--Body content-->
		<h3 ng-show="activeUser.email==user.email">Benutzercenter</h3>
		<h1>{{user.firstName}} {{user.lastName}} bearbeiten</h1>
		<p ng-show="activeUser.email==user.email" class="lead"> Hier k&ouml;nnen Sie ihre Daten bearbeiten.</p>
		<p ng-hide="activeUser.email==user.email" class="lead"> Hier k&ouml;nnen Sie den Benutzer bearbeiten.</p>

			<form>
				  <fieldset>
				    <legend>Benutzer Daten</legend>

				    <label>Titel</label>
				    <input type="text" ng-model="user.title" >
				    <span class="help-block">Bitte w&auml;len Sie einen Titel.</span>

				    <label>Name</label>
				    <input type="text" ng-model="user.firstName" >
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Nachname</label>
				    <input type="text" ng-model="user.lastName" >
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Email</label>
				    <input type="text" ng-model="user.email" >
				    <span class="help-block">Bitte w&auml;len Sie eine Email.</span>

				    <label>Matrikelnummer</label>
				    <input type="text" ng-model="user.matricNum" >
				    <span class="help-block">Bitte w&auml;len Sie ein Semester.</span>

				    <label>Abschluss w&auml;hlen</label>
				    <select ng-model="user.graduation">
					  <option>Bachelor</option>
					  <option>Master</option>
					  <option>Diplom</option>
					  <option>Lehramt</option>
					</select>
					<span class="help-block">Bitte w&auml;len Sie einen Typ.</span>

					<label>Semster</label>
				    <input type="text" ng-model="user.semester" >
				    <span class="help-block">Bitte w&auml;len Sie ein Semester.</span>

				  </fieldset>
				  <hr />
				  <input type="submit" name="submit" class="btn btn-success" value="Benutzer bearbeiten" />

			</form>

	</div>
	</div>
</div>