<!--
ÜBERSICHT DER ATTRIBUTE

DIESE MÜSSEN ALS INPUT BESCHREIBTBAR SEIN

var User = {
		firstName: "String",
		lastName: "String",
		title: "String",
		email: "String",
		graduation: "String",
		matricNum: "Number",
		semester: "Number"
};


SONDERFALL PASSWORT!!!
-->
<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Benutzer bearbeiten</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<!--Body content-->
		<h3 ng-show="activeUser.email==user.email">Benutzercenter</h3>
		<h1>{{user.firstName}} {{user.lastName}} bearbeiten</h1>
		<p ng-show="activeUser.email==user.email" class="lead"> Hier k&ouml;nnen Sie ihre Daten bearbeiten.</p>
		<p ng-hide="activeUser.email==user.email" class="lead"> Hier k&ouml;nnen Sie den Benutzer bearbeiten.</p>

		<form>
			<div class="row-fluid">
				<fieldset class="span3">
				    <legend>Benutzer Daten</legend>

				    <label>Titel</label>
				    <input type="text" ng-model="user.title" >
				    <span class="help-block">Bitte w&auml;len Sie einen Titel.</span>

				    <label>Name</label>
				    <input type="text" ng-model="user.firstName" >
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Nachname</label>
				    <input type="text" ng-model="user.lastName" >
				    <span class="help-block">Bitte w&auml;len Sie einen Vornamen.</span>

				    <label>Email</label>
				    <span class="input-xlarge uneditable-input">{{user.email}}</span>
				    <input ng-model="user.email" type="hidden">
				    <span class="help-block">Sie können die Email-Adresse nicht ändern.</span>

				    <label>Matrikelnummer</label>
				    <input placeholder="00000000" type="text" ng-model="user.matricNum">
				    <span class="help-block">Bitte geben Sie eine Matrikelnummer an.</span>

				    <label>Abschluss w&auml;hlen</label>
				    <select ng-model="user.graduation">
					  <option>Bachelor</option>
					  <option>Master</option>
					  <option>Diplom</option>
					  <option>Lehramt</option>
					</select>
					<span class="help-block">Bitte w&auml;len Sie einen Typ.</span>

					<label>Semester</label>
				    <input type="number" placeholder="1" ng-model="user.semester" min="1">
				    <span class="help-block">Bitte w&auml;len Sie ein Semester.</span>

					<div ng-show="isAdmin">
					    <label>Benutzer Rechte</label>
					    <input type="checkbox" ng-model="user.userRights.canLogin" > Kann sich einloggen<br /><br />

					    <input type="checkbox" ng-model="user.isEmployee" > Ist Mitarbeiter<br /><br />
					    <span class="help-block">Ist der User ein Mitarbeiter.</span>
					</div>

				  </fieldset>

				  <div ng-show="user.isEmployee">
						<fieldset ng-show="user.isEmployee" class="span3">
							<legend>Adresse &amp; Sprechzeiten</legend>
						    <label>Addresse</label>
						    <textarea rows="3" ng-model="user.address" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte w&auml;len Sie einen Adresse. O26 - 344</span>

						    <label>Sprechzeit</label>
						    <textarea rows="5" ng-model="user.talkTime" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte w&auml;len Sie einen Sprechzeit. Mo: 10:00 - 12:00 Uhr</span>

 							<label>Telefonnummer</label>
						    <input type="text" placeholder="+49 (0)731/50-24444" ng-model="user.phoneNum" spellcheck="ture" ></textarea>
						    <span class="help-block">Bitte geben Sie eine Telefonnummer an.</span>

							<div ng-show="isAdmin">
								<hr />
							    <label>Rechte</label>
							    <input type="checkbox" ng-model="user.employeeRights.canDeblockCriticalModule" > Kann kritische Module freigeben<br /><br />
							    <input type="checkbox" ng-model="user.employeeRights.canDeblockModule" > Kann Module freigeben<br /><br />
							    <hr />
								<label>Administrator</label>
								<input type="checkbox" ng-model="user.employeeRights.isAdmin" > Ist Administrator<br /><br />
							</div>

						</fieldset>
						<fieldset ng-show="isAdmin && !user.employeeRights.isAdmin" class="span6">
							<legend>Studiengang Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Studiengang Name<a style="margin-left: 20px;" ng-click="addStudyCourse()"><i class="icon-plus"></i></a></th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="studycourseright in user.employeeRights.studycourseRightsList">
								    	<td>{{studycourseright.studycourseID}}</td>
								    	<td><select ng-model="studycourseright.studycourseID" ng-options="Studycourse.studycourseID as Studycourse.name for Studycourse in StudycourseList">
								    	</select><a style="margin-left: 10px;" ng-click="removeStudyCourse()"><i class="icon-minus"></i></a></td>
								    	<td><input type="checkbox" ng-model="studycourseright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="studycourseright.canDelete"></td>
								    </tr>
								</tbody>
							</table>


						    <legend>Modulhandbuch Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Modulhandbuch Name<a style="margin-left: 20px;" ng-click="addModuleHandbook()"><i class="icon-plus"></i></a></th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="modulhandbookright in user.employeeRights.moduleHandbookRightsList">
								    	<td>{{modulhandbookright.moduleHandbookID}}</td>
								    	<td><select ng-model="modulhandbookright.moduleHandbookID" ng-options="ModuleHandbook.moduleHandbookID as ModuleHandbook.name for ModuleHandbook in ModuleHandbookList"></select><a style="margin-left: 10px;" ng-click="removeModuleHandbook()"><i class="icon-minus"></i></a></td>
								    	<td><input type="checkbox" ng-model="modulhandbookright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="modulhandbookright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Fach Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Fach Name<a style="margin-left: 20px;" ng-click="addSubject()"><i class="icon-plus"></i></a></th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="subjectright in user.employeeRights.subjectRightsList">
								    	<td>{{subjectright.subjectID}}</td>
								    	<td><select ng-model="subjectright.subjectID" ng-options="Subject.subjectID as Subject.name for Subject in SubjectList"></select><a style="margin-left: 10px;" ng-click="removeSubject()"><i class="icon-minus"></i></a></td>
								    	<td><input type="checkbox" ng-model="subjectright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="subjectright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Module Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Modul Name<a style="margin-left: 20px;" ng-click="addModule()"><i class="icon-plus"></i></a></th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="moduleright in user.employeeRights.moduleRightsList">
								    	<td>{{moduleright.moduleID}}</td>
								    	<td><select ng-model="moduleright.moduleID" ng-options="Module.moduleID as Module.name for Module in ModuleList"></select><a style="margin-left: 10px;" ng-click="removeModule()"><i class="icon-minus"></i></a></td>
								    	<td><input type="checkbox" ng-model="moduleright.canEdit"></td>
								    	<td><input type="checkbox" ng-model="moduleright.canDelete"></td>
								    </tr>
								</tbody>
							</table>

							<legend>Event Rechte</legend>
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="rightID">#</th>
										<th class="rightName">Event Name<a style="margin-left: 20px;" ng-click="addEvent()"><i class="icon-plus"></i></a></th>
										<th class="rightEdit">Bearbeiten</th>
										<th class="rightDelete">L&ouml;schen</th>
									</tr>
								</thead>
								<tbody>
								    <tr ng-repeat="eventright in user.employeeRights.eventRightsList">
								    	<td>{{eventright.eventID}}</td>
								    	<td><select ng-model="eventright.eventID" ng-options="Event.eventID as Event.name for Event in EventList"></select><a style="margin-left: 10px;" ng-click="removeEvent()"><i class="icon-minus"></i></a></td>
								    	<td><input type="checkbox" ng-model="eventright.canEdit"></td>
								    	<td> <input type="checkbox" ng-model="eventright.canDelete"></td>
								    </tr>
								</tbody>
							</table>
						</fieldset>
					  </div>
			</div>
			<hr />
			<input ng-click="update()" type="submit" name="submit" class="btn btn-success" value="Benutzer bearbeiten" />

			</form>

	</div>
	</div>
</div>