<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Veranstaltungen</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Veranstaltungen</li>
				<li ng-repeat="module in modules">
					<a href="#/show/events?moduleID={{module.moduleID}}">{{module.name}}</a>
				</li>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
	<div class="span7">
		<!--Body content-->
		<h1>Veranstaltungen</h1>
		<p class="lead"> Hier finden Sie alle Veranstaltungen der Universität Ulm</p>

		<hr />
		<table class="table">
			<thead>
				<tr>
					<td>#</td>
					<td>Name</td>
					<td>Archiviert</td>
					<td>Aktion</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td>{{event.eventID}}</td>
					<td>{{event.name}}</td>
					<td>{{event.archived}}</td>
					<td><a href="#/delete/event?eventID={{event.eventID}}"><button style="margin-left: 5px;" class="btn btn-mini btn-danger" type="button">löschen</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
</div>