<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Studiengänge</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->
	    <h1>Studiengänge</h1>
		<p class="lead"> Hier finden Sie alle Studiengänge der Universität Ulm.</p>

		<hr />
	    <table class="table">
	    	<thead>
				<tr>
					<td>#</td>
					<td>Name</td>
					<td>Archiviert</td>
					<td>Aktion</td>
				</tr>
	    	</thead>
	    	<tbody>
			<tr ng-repeat="studycourse in studycourses">
				<td>{{studycourse.studycourseID}}</td>
				<td>{{studycourse.name}}</td>
				<td>{{studycourse.archived}}</td>
				<td><a href="#/delete/studycourse?studycourseID={{studycourse.studycourseID}}"><button style="margin-left: 5px;" class="btn btn-mini btn-danger" type="button">löschen</button></a></td>
			</tr>
	    	</tbody>
		</table>


    </div>
  </div>
</div>