<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Fächer</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
     <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Studiengänge</li>
              <li ng-repeat="studycourse in studycourses">
              	<a href="#/show/subjects?studycourseID={{studycourse.studycourseID}}">{{studycourse.name}}</a>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
    <div class="span7">
      <!--Body content-->
	    <h1>Fächer</h1>
		<p class="lead"> Hier finden Sie alle Fächer der Universität Ulm</p>

		<hr />
	    <table class="table">
	    	<thead>
				<tr>
					<td>#</td>
					<td>Name</td>
					<td>Archiviert</td>
					<td>Aktion</td>
				</tr>
	    	</thead>
	    	<tbody>
			<tr ng-repeat="subject in subjects">
				<td>{{subject.subjectID}}</td>
				<td>{{subject.name}}</td>
				<td>{{subject.archived}}</td>
				<td><a href="#/delete/subject?subjectID={{subject.subjectID}}"><button style="margin-left: 5px;" class="btn btn-mini btn-danger" type="button">löschen</button></a></td>
			</tr>
	    	</tbody>
		</table>
    </div>

  </div>
</div>