<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Deadline</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->
	    <h1>Deadline</h1>
	    <h2><span ng-show="deadline.sose">Sommersemester</span><span ng-hide="deadline.sose">Wintersemester</span> - {{deadline.year}}</h2>
	    <strong>Deadline: {{deadline.deadline}}</strong>
    </div>

  </div>
</div>