<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Deadlines</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->
	    <h1>Deadlines</h1>
		<p class="lead"> Hier finden Sie alle Deadlines</p>
        <div id="filter" class="input-prepend pull-left">
          <span class="add-on">Filtern:</span>
          <input id="prependedInput" type="text" ng-model="search.name" placeholder="nach Name">
        </div>
        <a ng-show="isAdmin" href="#/create/deadline" class="btn btn-success pull-left" ><i class="icon-edit icon-white"></i> Neue Deadline erstellen</a>
        <br class="clear" />
		<hr />
	    <table class="table">
	    	<thead>
				<tr>
					<th>SoSe / WiSe</th>
					<th>Jahr</th>
					<th>Datum</th>
					<th ng-show="isAdmin">Aktion</th>
				</tr>
	    	</thead>
	    	<tbody>
			<tr ng-repeat="deadline in deadlines | filter: search">
				<td><span ng-show="deadline.sose">Sommersemester</span><span ng-hide="deadline.sose">Wintersemester</span></td>
				<td>{{deadline.year}}<span ng-show="!deadline.sose">/{{deadline.year+1}}</span></td>
				<td>{{deadline.deadline}}</a></td>
				<td ng-show="isAdmin">
					<a href="#/delete/deadline?sose={{deadline.sose}}&year={{deadline.year}}"class="btn btn-mini btn-danger"> <i class="icon-trash icon-white"></i> l&ouml;schen</a>
					<a href="#/update/deadline?sose={{deadline.sose}}&year={{deadline.year}}" class="btn btn-mini btn-warning"><i class="icon-refresh icon-white"></i> bearbeiten</a>
				</td>
			</tr>
	    	</tbody>
		</table>
    </div>

  </div>
</div>