<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Veranstaltungen</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<!--Body content-->
			<h1>Veranstaltungen</h1>
			<p class="lead"> Hier finden Sie alle Veranstaltungen der Universität Ulm</p>
			<div id="filter" class="input-prepend pull-left">
		      <span class="add-on">Filtern:</span>
		      <input id="prependedInput" type="text" ng-model="search.name" placeholder="nach Name">
		    </div>
		    <a ng-show="isEmployee" href="#/create/event" class="btn btn-success pull-left"><i class="icon-edit icon-white"></i> Neues Event erstellen</a>
			<br class="clear" />
			<hr/>
			<div class="tableWrapper">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Typ</th>
							<th>Raum &amp; Ort</th>
							<th>Zeiten</th>
							<th>Archiviert</th>
							<th>Freigegeben</th>
							<th ng-show="isAuthorised()">Aktion</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in events | filter: search">
							<td>{{event.eventID}}</td>
							<td style="width:30%"><a href="#/show/event?eventID={{event.eventID}}">{{event.name}}</a></td>
							<td>{{event.type}}
							<td>{{event.place}} - {{event.room}}</td>
							<td>{{event.times}}</td>
							<td><span class="label" ng-hide="event.archived">nicht archiviert</span><span class="label label-warning" ng-show="event.archived">archiviert</span></td>
							<td ng-hide="canDeblockContent()">
								<span class="label" ng-hide="event.enabled">nicht freigegeben</span>
								<span class="label label-success" ng-show="event.enabled">freigegeben</span>
							</td>
							<td ng-show="canDeblockContent()">
								
							<a ng-hide="event.enabled" href="#enable" ng-click="enableContentModal(event.eventID, event.name, 'event', true)" class="btn btn-mini btn-info" data-target="#enable" data-toggle="modal"><i class="icon-eye-open icon-white"></i> Freigeben</a>

							<a ng-show="event.enabled" href="#enable" ng-click="enableContentModal(event.eventID, event.name, 'event', false)" class="btn btn-mini btn-warning" data-target="#enable" data-toggle="modal"><i class="icon-eye-close icon-white"></i> Revidieren</a>

							</td>
							<td ng-show="isAuthorised()" >

								<a href="#delete" class="btn btn-mini btn-danger" ng-click="deleteContentModal(event.eventID, event.name, 'event')" data-target="#delete" data-toggle="modal" ng-show="canDelete(event.eventID)"><i class="icon-trash icon-white"></i> l&ouml;schen</a>

								<a href="#/update/event?eventID={{event.eventID}}" class="btn btn-mini btn-primary" ng-show="canEdit(event.eventID)"><i class="icon-refresh icon-white"></i> bearbeiten</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>