<!--
ÜBERSICHT DER ATTRIBUTE

DIESE MÜSSEN DARGESTELLT WERDEN

var Event = {
    eventID: "Number",
    modules_moduleID: "Number",
    name: "String",
    sws: "Number",
    lecturer_email: "String",
    archived: "boolean"
};

-->

<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li><a href="#/show/studycourses">Studiengang</a> <span class="divider">/</span></li>
            <li><a href="#/show/modulehandbooks">Modulhandbuch</a> <span class="divider">/</span></li>
            <li><a href="#/subjects">Fach</a> <span class="divider">/</span></li>
            <li>
                <span ng-repeat="module in modules"><a href="#/show/module?moduleID={{module.moduleID}}">{{module.name}}</a> </span>
                <span class="divider">/</span>
            </li>
            <li class="active">{{_event.name}}</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!--Body content-->
            <h1>{{_event.name}}</h1>
        </div>
    </div>
 	<div class="hero-unit">
    	<div class="row-fluid">
            <dl class="dl-horizontal span6">
                <dt>EventID</dt>
                <dd>{{_event.eventID}}</dd>
                <dt>Module</dt>
                <dd>
                	<span ng-repeat="module in modules"><a href="#/show/module?moduleID={{module.moduleID}}">{{module.name}}</a>, </span>
                </dd>
                <dt>SWS</dt>
                <dd>{{_event.sws}}</dd>
            </dl>
            <dl class="dl-horizontal span6">
                <dt>Lecturer E-Mail</dt>
                <dd><a href="#/show/user?email={{_event.lecturer_email}}">{{_event.lecturer_email}}</a></dd>
                <dt>Archiviert</dt>
                <dd>{{_event.archived}}</dd>
                <dt>Enabled</dt>
                <dd>{{_event.enabled}}</dd>
                <dt>Content</dt>
                <dd>{{_event.content}}</dd>
                <dt>Type</dt>
                <dd>{{_event.type}}</dd>
                <dt>Place</dt>
                <dd>{{_event.place}}</dd>
                <dt>Room</dt>
                <dd>{{_event.room}}</dd>
            </dl>
   		</div>
	</div>
</div>