<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Module</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<!--Body content-->
			<h1>Module</h1>
			<p class="lead"> Hier finden Sie alle Module der Universität Ulm</p>
			<div id="filter" class="input-prepend pull-left">
		      <span class="add-on">Filtern:</span>
		      <input id="prependedInput" type="text" ng-model="search.name" placeholder="nach Name">
		    </div>
			<a ng-show="isEmployee" href="#/create/module" class="btn btn-success pull-left" style="margin-left: 10px;"><i class="icon-edit icon-white"></i> Neues Modul erstellen</a>
		    <div style="clear: both;"></div>
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Archiviert</th>
						<th>Freigegeben</th>
						<th ng-show="isAuthorised()">Aktion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="module in modules | filter: search">
						<td>{{module.moduleID}}</td>
						<td><a href="#/show/module?moduleID={{module.moduleID}}">{{module.name}}</a></td>
						<td><span class="label" ng-hide="module.archived">nicht archiviert</span><span class="label label-warning" ng-show="module.archived">archiviert</span></td>
						<td><span class="label" ng-hide="module.enabled">nicht freigegeben</span><span class="label label-success" ng-show="module.enabled">freigegeben</span></td>
						<td ng-show="isAuthorised()">
							<a href="#/delete/module?moduleID={{module.moduleID}}" class="btn btn-mini btn-danger" ng-show="canDelete(module.moduleID)"><i class="icon-trash icon-white"></i> l&ouml;schen</a>
							<a href="#/update/module?moduleID={{module.moduleID}}" class="btn btn-mini btn-warning" ng-show="canEdit(module.moduleID)"><i class="icon-refresh icon-white"></i> bearbeiten</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>