<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Modulhandbücher</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      <!--Body content-->
	    <h1>Modulhandbücher</h1>
		<p class="lead"> Hier finden Sie alle Modulhandb&uuml;cher der Universit&auml;t Ulm</p>
		<div class="input-prepend pull-left">
	      <span class="add-on">Filter:</span>
	      <input id="prependedInput" type="text" ng-model="search.name">
	    </div>
		<a href="#/create/modulehandbook" class="btn btn-success pull-left" style="margin-left: 10px;"><i class="icon-edit icon-white"></i> Neues Modulhandbuch erstellen</a>
	    <div style="clear: both;"></div>
		<hr />
	    <table class="table table-striped">
	    	<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Studienbeginn</th>
					<th>Archiviert</th>
					<th>Aktion</th>
				</tr>
	    	</thead>
	    	<tbody>
			<tr ng-repeat="handbook in moduleHandbooks | filter: search">
				<td>{{handbook.moduleHandbookID}}</td>
				<td><a href="#/show/modulehandbook?modulehandbookID={{handbook.moduleHandbookID}}">{{handbook.name}}</a></td>
				<td>{{handbook.semester}}</td>
				<td><span class="label" ng-hide="handbook.archived">nicht archiviert</span><span class="label label-warning" ng-show="handbook.archived">archiviert</span></td>
				<td>
					<a href="#/delete/modulehandbook?modulehandbookID={{handbook.moduleHandbookID}}" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> l&ouml;schen</a>
					<a href="#/update/modulehandbook?modulehandbookID={{handbook.moduleHandbookID}}" class="btn btn-mini btn-warning"><i class="icon-refresh icon-white"></i> bearbeiten</a>
					</td>
			</tr>
	    	</tbody>
		</table>


    </div>
  </div>
</div>