<!--
ÜBERSICHT DER ATTRIBUTE

DIESE MÜSSEN DARGESTELLT WERDEN

var Module = {
        duration: "Number",
        moduleID: "Number",
        subjects_subjectID: "Number",
        name: "String",
        token: "String",
        englishTitle: "String",
        lp: "Number",
        sws: "Number",
        language: "String",
        director_email: "String",
        requirement: "String",
        learningTarget: "String",
        content: "String",
        literature: "String", // MGL: Array?!
        archived: "boolean"
};

var Event = {
    eventID: "Number",
    modules_moduleID: "Number",
    name: "String",
    sws: "Number",
    lecturer_email: "String",
    archived: "boolean"
};

-->
<div class="container-fluid">
    <div class="row-fluid">
        <ul class="span 12 breadcrumb">
            <li><a href="#/home">Home</a> <span class="divider">/</span></li>
            <li><a href="#/show/studycourses">Studiengang</a> <span class="divider">/</span></li>
            <li><a href="#/show/subjects">Fach</a> <span class="divider">/</span></li>
            <li class="active">{{module.name}}</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!--Body content-->
            <h1>{{module.name}} <span class="label label-warning" ng-show="module.archived">Archiviert</span></h1>
            <hr />
            <p class="lead"><strong>K&uuml;rzel:</strong> {{module.token}}</p>
        </div>
    </div>
    <div class="row-fluid">

    	<div class="span4">

    		<ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
              <li class=""><a href="#mcontent" data-toggle="tab">Beschreibung</a></li>
              <li class=""><a href="#requirement" data-toggle="tab">Voraussetzungen</a></li>
              <li class=""><a href="#literature" data-toggle="tab">Literatur</a></li>
            </ul>

			<div id="myTabContent" class="tab-content">


              <div class="tab-pane fade active in" id="info">
              	<h4>Informationen</h4>
                <dl>
		            <dt>Dauer</dt>
		            <dd>{{module.duration}}</dd>

		            <dt>Englischer Titel</dt>
		            <dd>{{module.englishTitle}}</dd>

		            <dt>Leistungspunkte</dt>
		            <dd>{{module.lp}} LP</dd>

		            <dt>Semester-Wochen-Stunden</dt>
		            <dd>{{module.SWS}}</dd>

		            <dt>Sprache</dt>
		            <dd>{{module.language}}</dd>
		        </dl>
              </div>

              <div class="tab-pane fade" id="mcontent">
              	<h4>Beschreibung</h4>
                <p>{{module.content}}</p>
              </div>

              <div class="tab-pane fade" id="requirement">
              	<h4>Voraussetzungen</h4>
                <p>{{module.requirement}}</p>
              </div>


              <div class="tab-pane fade" id="learningTarget">
              	<h4>Lernziele</h4>
                <p>{{module.learningTarget}}</p>
              </div>

              <div class="tab-pane fade" id="literature">
              	<h4>Literatur</h4>
                <p>{{module.literature}}</p>
              </div>

            </div>

            <hr />

            <h4>Modul-Verantwortlicher</h4>
            <dl>
	            <dt>Name</dt>
	            <dd>{{module.director_email}}</dd>
            </dl>

		</div>

    	<div class="span3">
    		<h4>{{module.name}} in F&auml;cher</h4>
    		<ul class="backward" ng-repeat="subject in subjects">
				<li><a href="#/show/subject?subjectID={{subject.subjectID}}" class="btn"><i class="icon-arrow-left"></i> {{subject.name}}</a></li>
			</ul>
    	</div>

    	<div class="span5">
    		<h4>Veranstaltungen von {{module.name}}</h4>
	        <table class="table table-striped">
	            <thead>
	            <tr>
	                <td>Name</td>
	                <td>Dozent</td>
	                <td>Ort</td>
	                <td>Zeit</td>
	            </tr>
	            </thead>
	            <tbody ng-repeat="event in events">
	            <tr>
	                <td><a href="#/show/event?eventID={{event.eventID}}" class="btn">{{event.name}} <i class="icon-arrow-right"></i></a></td>
	                <td>{{event.lecturer_email}}</a></td>
	                <td>{{event.place}} - {{event.room}}</td>
	                <td>{{event.sws}}</td>
	            </tr>
	            </tbody>
	        </table>
        </div>

    </div>
    <div class="row-fluid" id="timelineWrapper">
      <hr />
      <h4>Alle Bearbeitungen</h4>
      <div class="span12" id="timeline"></div>
    </div>
</div>