<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Studiengänge</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->
	    <h1>Studiengänge</h1>
		<p class="lead"> Hier finden Sie alle Studiengänge der Universität Ulm.</p>
		<div id="filter" class="input-prepend pull-left">
	      <span class="add-on">Filtern:</span>
	      <input id="prependedInput" type="text" ng-model="search.name" placeholder="nach Name">
	    </div>
		<a ng-show="isAdmin" href="#/create/studycourse" class="btn btn-success pull-left"><i class="icon-edit icon-white"></i> Neuen Studiengang erstellen</a>
	    <br class="clear" />
		<hr />
		<div class="tableWrapper">
		    <table class="table table-hover">
		    	<thead>
					<tr>
						<th>#</th>
						<th>Abschluss</th>
						<th>Name</th>
						<th>Archiviert</th>
						<th>Freigegeben</th>
						<th ng-show="isAuthorised()">Aktion</th>
					</tr>
		    	</thead>
		    	<tbody>
				<tr ng-repeat="studycourse in studycourses | filter: search">
					<td>{{studycourse.studycourseID}}</td>
					<td>{{studycourse.graduation}}</td>
					<td><a href="#/show/studycourse?studycourseID={{studycourse.studycourseID}}">{{studycourse.name}}</a></td>
					<td><span class="label" ng-hide="studycourse.archived">nicht archiviert</span><span class="label label-warning" ng-show="studycourse.archived">archiviert</span></td>
					
					<td ng-hide="canDeblockContent()">
						<span class="label" ng-hide="studycourse.enabled">nicht freigegeben</span>
						<span class="label label-success" ng-show="studycourse.enabled">freigegeben</span>
					</td>
					<td ng-show="canDeblockContent()">

						<a ng-hide="studycourse.enabled" href="#enable" ng-click="enableContentModal(studycourse.studycourseID, studycourse.name, 'studycourse', true)" class="btn btn-mini btn-info" data-target="#enable" data-toggle="modal"><i class="icon-eye-open icon-white"></i> Freigeben</a>

						<a ng-show="studycourse.enabled" href="#enable" ng-click="enableContentModal(studycourse.studycourseID, studycourse.name, 'studycourse', false)" class="btn btn-mini btn-warning" data-target="#enable" data-toggle="modal"><i class="icon-eye-close icon-white"></i> Revidieren</a>

					</td>

					<td ng-show="isAuthorised()">

						<a href="#delete" class="btn btn-mini btn-danger" ng-click="deleteContentModal(studycourse.studycourseID, studycourse.name, 'studycourse')" data-target="#delete" data-toggle="modal" ng-show="canDelete(studycourse.studycourseID)"><i class="icon-trash icon-white"></i> l&ouml;schen</a>

						<a href="#/update/studycourse?studycourseID={{studycourse.studycourseID}}" class="btn btn-mini btn-primary" ng-show="canEdit(studycourse.studycourseID)"><i class="icon-refresh icon-white"></i> bearbeiten</a>


					</td>
				</tr>
		    	</tbody>
			</table>
		</div>
    </div>
  </div>
</div>