<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
		<li><a href="#/home">Home</a> <span class="divider">/</span></li>
		<li class="active">Fächer</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!--Body content-->
	    <h1>Fächer</h1>
		<p class="lead"> Hier finden Sie alle Fächer der Universität Ulm</p>
        <div id="filter" class="input-prepend pull-left">
          <span class="add-on">Filtern:</span>
          <input id="prependedInput" type="text" ng-model="search.name" placeholder="nach Name">
        </div>
        <a ng-show="isEmployee" href="#/create/subject" class="btn btn-success pull-left" ><i class="icon-edit icon-white"></i> Neues Fach erstellen</a>
        <br class="clear" />
		<hr />
		<div class="tableWrapper">
		    <table class="table">
		    	<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Archiviert</th>
						<th>Freigegeben</th>
						<th ng-show="isAuthorised()">Aktion</th>
					</tr>
		    	</thead>
		    	<tbody>
				<tr ng-repeat="subject in subjects | filter: search">
					<td>{{subject.subjectID}}</td>
					<td><a href="#/show/subject?subjectID={{subject.subjectID}}">{{subject.name}}</a></td>
					<td><span class="label" ng-hide="subject.archived">nicht archiviert</span><span class="label label-warning" ng-show="subject.archived">archiviert</span></td>
					<td><span class="label" ng-hide="subject.enabled">nicht freigegeben</span><span class="label label-success" ng-show="subject.enabled">freigegeben</span></td>
					<td ng-show="isAuthorised()">

						<a href="#delete" class="btn btn-mini btn-danger" ng-click="deleteContentModal(subject.subjectID, subject.name, 'subject')" data-target="#delete" data-toggle="modal" ng-show="canDelete(subject.subjectID)"><i class="icon-trash icon-white"></i> l&ouml;schen</a>

						<a href="#/update/subject?subjectID={{subject.subjectID}}" class="btn btn-mini btn-warning" ng-show="canEdit(subject.subjectID)"><i class="icon-refresh icon-white"></i> bearbeiten</a>
					</td>
				</tr>
		    	</tbody>
			</table>
		</div>
    </div>

  </div>
</div>