<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Benutzer</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!--Body content-->
			<h1>Benutzer</h1>
			<p class="lead"> Hier finden Sie alle Benutzer des MMS</p>
			<div id="filter" class="input-prepend pull-left">
	          <span class="add-on">Filtern:</span>
	          <input id="prependedInput" type="text" ng-model="search.email" placeholder="nach Email">
	        </div>
			<a href="#/create/user" class="btn btn-success pull-left" ><i class="icon-edit icon-white"></i> Neuen Benutzer erstellen</a>
	        <br class="clear" />
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>Email</th>
						<th>Vorname</th>
						<th>Nachname</th>
						<th>Aktion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | filter: search">
						<td><a href="#/show/user?email={{user.email}}">{{user.email}}</a></td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td><a href="#/delete/user?email={{user.email}}"class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> l&ouml;schen</a>
							<a href="#/update/user?email={{user.email}}" class="btn btn-mini btn-warning"><i class="icon-refresh icon-white"></i> bearbeiten</a></td>
					</tr>
				</tbody>
			</table>
		</div>
  </div>
</div>