<div class="container-fluid">
	<div class="row-fluid">
		<ul class="span 12 breadcrumb">
			<li><a href="#/home">Home</a> <span class="divider">/</span></li>
			<li class="active">Benutzer</li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">

		<div class="span12">
			<!--Body content-->
			<h1>{{user.email}}</h1>
			<p>
				{{user.title}} <strong>{{user.firstName}} {{user.lastName}}</strong>
			</p>
			<p>
				<a href="mailto:{{user.email}}">{{user.email}}</a>
			</p>
			<p>
				{{user.graduation}} - Semster: {{user.semester}}
			</p>
			<p>
				<strong>Matrikelnummer:</strong> {{user.matricNum}}
			</p>
		</div>
	</div>
</div>