<!DOCTYPE HTML>
<html>
<meta charset="utf-8"> 
<script type="text/javascript">
// Check for the various File API support.
if (window.File && window.FileReader && window.FileList && window.Blob) {
  // Great success! All the File APIs are supported.
  console.log('All File APIs are supported.');
} else {
	alert('The File APIs are not fully supported in this browser.');
}
</script>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/form.js"></script>
</head>
<body>
    <header class="header">
        <h1>MMS - TEX FILE UPLOAD</h1>
    </header>
	<p id="description"></p>
	<input type="file" id="files" name="files[]" multiple webkitdirectory directory />
	<output id="list"></output>
</body>
</html>
